<h2>Iniciar sesión</h2>

<form (ngSubmit)="onSubmit()">
  <div>
    <label>Usuario:</label>
    <input type="text" [(ngModel)]="nombre" name="username" required />
  </div>

  <div>
    <label>Contraseña:</label>
    <input type="password" [(ngModel)]="password" name="password" required />
  </div>

  <button type="submit">Login</button>

  <p *ngIf="errorMessage" style="color:red;">{{ errorMessage }}</p>
</form>

<!-- Botón para ir a registro -->
<button (click)="irARegistro()">Crear nuevo usuario</button>
