<div class="centered">
  <div class="form-container">
    <h2>Iniciar sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <label>Correo Electrónico:</label>
      <input
        type="email"
        formControlName="nombreUsuario"
        placeholder="ejemplo@correo.com"
        [class.input-error]="loginForm.get('nombreUsuario')?.invalid && loginForm.get('nombreUsuario')?.touched"
      />

      <div *ngIf="loginForm.get('nombreUsuario')?.invalid && (loginForm.get('nombreUsuario')?.dirty || loginForm.get('nombreUsuario')?.touched)" class="error-text">
        <small *ngIf="loginForm.get('nombreUsuario')?.hasError('required')" style="color: red;">
          El correo es obligatorio.
        </small>
        <small *ngIf="loginForm.get('nombreUsuario')?.hasError('email')" style="color: red;">
          Introduce un correo válido.
        </small>
      </div>

      <label>Contraseña:</label>
      <input
        type="password"
        formControlName="password"
      />

      <button type="submit" class="btn-login" [disabled]="isLoading || loginForm.invalid">

        <span *ngIf="!isLoading">Login</span>

        <span *ngIf="isLoading" class="loading-box">
          <div class="spinner"></div>
          <span>Conectando...</span>
        </span>

      </button>

      <div *ngIf="showSlowServerMessage" class="server-waking-up">
        <small>⏳ <strong>El servidor se está despertando.</strong><br>
        Al ser la versión gratuita, esto puede tardar unos segundos. ¡Gracias por esperar!</small>
      </div>

      <p *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage }}</p>
    </form>

    <button class="btn-secondary" (click)="irARegistro()" [disabled]="isLoading">
      Crear nuevo usuario
    </button>
  </div>
</div>
