<div class="centered">


<div class="form-container">
  <h2>Iniciar sesión</h2>
  <form (ngSubmit)="onSubmit()">
    <label>Usuario:</label>
    <input type="text" [(ngModel)]="nombre" name="username" required />

    <label>Contraseña:</label>
    <input type="password" [(ngModel)]="password" name="password" required />

    <button type="submit" class="btn-login">Login</button>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </form>

  <button class="btn-secondary" (click)="irARegistro()">Crear nuevo usuario</button>
</div>
</div>
