
<h2 mat-dialog-title>Crear Empresa</h2>

<mat-dialog-content>
  <form [formGroup]="empresaForm">

    <mat-form-field appearance="fill" class="full-widthCrearEmpresa">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre"
        placeholder="Nombre de la empresa" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-widthCrearEmpresa">
      <mat-label>CIF</mat-label>
      <input matInput formControlName="cif" placeholder="CIF de la empresa" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-widthCrearEmpresa">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="direccion" placeholder="Dirección" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-widthCrearEmpresa">
      <mat-label>Teléfono</mat-label>
      <input matInput
        formControlName="telefono"
        placeholder="Teléfono"
        type="text" />

      <mat-error *ngIf="empresaForm.get('telefono')?.hasError('required')">
        El teléfono es obligatorio
      </mat-error>
      <mat-error *ngIf="empresaForm.get('telefono')?.hasError('pattern')">
        Solo se permiten números
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-widthCrearEmpresa">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email"
        type="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-widthCrearEmpresa">
      <mat-label>ID Usuario</mat-label>
      <input matInput formControlName="usuarioId"
        placeholder="ID del usuario" />
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()"
    [disabled]="empresaForm.invalid">Guardar</button>
</mat-dialog-actions>
